.single-board {
  border: 2px solid white;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  background-color: lightgray;
}

.fa-info-circle, .fa-trash-alt, .fa-pen-square {
  cursor: pointer;
}
