@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

body {
  background-color: $favColor;

  h2{
    color: white;
    text-shadow: 2px 2px darkgrey;
    margin: 30px;
  }
}
